@import "../styles/variables.scss";

#featured-products-section {
  .section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-title-left {
    }

    .section-title-right {
      @include center-all-frames-using-flex;

      color: $dark_blue;
    }
  }
}
