@import "../styles/variables.scss";
@import "../styles/mixins.scss";

header {
  height: 75px;
  width: 100%;
  background-color: $dark_blue;
  position: sticky;
  top: 0;
  z-index: 99;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 8px;

  @include center-all-frames-using-flex;

  @media (max-width: 630px) {
    display: flex;
    justify-content: space-around;
  }

  .header-left-container {
    @include center-vertical-using-flex;
    color: $white;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: row-reverse;
    }

    .logo {
      margin-right: 18px;

      img {
        @media (max-width: 800px) {
          width: 120px;
        }
      }
    }

    .categories-box {
      @include center-vertical-using-flex;

      span {
        margin-right: 12px;

        &:last-child {
          @media (max-width: 800px) {
            display: none;
          }
        }
      }
    }
  }

  .header-center-container {
    color: $white;
    width: 500px;
    margin-left: 18px;
    margin-right: 18px;

    @media (max-width: 1100px) {
      width: 400px;
    }

    @media (max-width: 990px) {
      width: 350px;
    }

    @media (max-width: 920px) {
      width: 300px;
    }

    @media (max-width: 875px) {
      width: 250px;
    }

    @media (max-width: 630px) {
      display: none;
    }

    .search-box {
      @include center-all-frames-using-flex;
      position: relative;

      input {
        opacity: 0.3;
        border-radius: 4px;
        height: 50px;
        width: 100%;
        height: 50px;
      }

      .search-box-content {
        position: absolute;
        opacity: 0.8;

        @include center-all-frames-using-flex;
      }
    }
  }

  .header-right-container {
    color: $white;
    display: flex;

    .cart-box {
      cursor: pointer;
      .cart-icon {
        .cart-badge {
          border-radius: 50%;
          width: 24px;
          height: 24px;
          background-color: red;
          color: $white;
          font-weight: 700;
          font-size: 18px;
        }
      }
    }

    div {
      @include center-all-frames-using-flex;

      &:not(:last-child) {
        margin-right: 18px;
      }

      span {
        &:last-child {
          margin-left: 12px;
        }

        &:first-child {
          @media (max-width: 800px) {
            display: none;
          }
        }
      }
    }
  }
}

.side-cart-container {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: $white;
  overflow-x: hidden;
  transition: 0.5s;

  .close-cart-btn {
    border: 1px solid white;
    width: fit-content;
    color: $dark_blue;
    cursor: pointer;
  }

  .cart-container {
    border-top: 1px solid $dark_blue;
    border-bottom: 1px solid $dark_blue;

    .cart-product-container {
      @include center-vertical-using-flex;
      justify-content: space-around;
      border-bottom: 1px solid $light_blue;
      margin-bottom: 4px;

      .product-id {
        font-size: 32px;
        font-weight: 700;

        @media screen and (max-width: 426px) {
          font-size: 18px;
        }
      }

      img {
        @media screen and (max-width: 426px) {
          width: 75px;
          height: 75px;
        }
      }

      .product-name {
        @media screen and (max-width: 426px) {
          font-size: 12px;
        }
      }

      .product-price {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        background-color: $dark_blue;
        padding: 8px 12px;
        border-radius: 4px;

        @media screen and (max-width: 426px) {
          font-size: 12px;
          padding: 6px 8px;
        }
      }
    }
  }
}

.side-cart-container.close-cart {
  position: absolute;
  top: 0;
  width: 0px;
  padding: 0px;
}

.side-cart-container.open-cart {
  width: 50%;
  padding: 50px 25px;

  @media screen and (max-width: 768px) {
    width: 80%;
  }

  @media screen and (max-width: 426px) {
    width: 90%;
  }
}
